/*Font Link*/
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

@import "tailwindcss";
@plugin "daisyui";

@theme{
  --color-main-light: #102B2A;
  --color-main-dark: #091D1C;
  --color-accent: #C09342;
}

*{
  font-family: "Playfair Display", serif;
}